/* ===== 메인페이지 ===== */
/* 배너 css */
.banner-img {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/* 뒷배경 */
.background-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* 스크롤 페이지 높이 조절 */
.mainHeight {
    height: 100vh;
}
