/* ***** 로그인 css ***** */
.fs-10 { font-size: 10px;}
.fs-15 { font-size: 15px;}
.fs-25 { font-size: 25px;}
.fs-30 { font-size: 30px;}
.ff-suit{ font-family: "SUIT-Regular";}
.ff-macho{ font-family: "EF_MACHO";}
.loginTitle{ display: flex; justify-content: center; margin-top: 10%; margin-bottom: 2.5%;}
.loginBox{ display: flex; flex-direction: column; /* 수직 정렬을 위해 column 설정 */ padding: 0 30em 0 30em;}
.loginBox input{color: var(--lol-white); background-color: var(--khy-bg-gray);  border:none; border:0 0 0 0;  border-radius: 5px; padding: 0.7em 2em 0.7em 2em; margin: 0.5em 1em 0.5em 1em;}
.autoLoginBox{ display: flex; justify-content: center; padding: 0.2em 13em 1em 0.5em;}
.autoLoginBox>p{margin-left: 0.5em;}
.autoLoginBox>input{ cursor: pointer;}
.loginButton{ display: flex; justify-content: center;}
.loginButton>input{ color: var(--lol-white); background-color: var(--lol-black); border:solid 0.5px var(--lol-white); border:0 0 0 0;  border-radius: 5px; padding: 0.8em 9.5em 0.8em 9.5em; margin: 0.5em 0em 0.5em 0em; cursor: pointer;}
.memberCheckBox{ display: flex; justify-content: center; margin: 1rem 0 0 0 ;}
.socialLoginBox{ display: flex; justify-content: center; margin: 1rem 0 0 0 ;}
.socialLoginBox>div{margin:0 0.5em 0 1em;}
.socialLoginBox img{width: 45px; height: 45px; }

/* 회원가입 css */
.enrollTitle{display: flex; justify-content: center; margin-bottom: 2.5%;}
.enrollBox{ 
    display: flex; 
    flex-direction: column; /* 수직 정렬을 위해 column 설정 */ 
}
.enrollBox>.line>input{ 
    color: var(--lol-white); 
    background-color: var(--khy-bg-gray); 
    border:none; 
    border:0 0 0 0;  
    border-radius: 5px; 
    width: 26.5em;
    padding: 0.7em 1em 0.7em 2em; 
    margin: 0.5em 1em 0.5em 1em;
}
.divFlex{
    display: flex;
    justify-content: center;
}
.line{
    display: flex;
    align-items: center;
    justify-content: end;
}

.abbrCheckBox{ 
    color: var(--lol-white); 
    border:none; border:0 0 0 0;  
    border-radius: 5px; 
    padding: 0.5em 0.75em 0em 0em; 
    margin: 0.1em 0em 0em 1em;
}
.abbrCheckBox>img:nth-child(1){
	margin : 0 0 0.1em 0;
}

.abbrCheckBox>img{
	margin : 0 0 0.1em 0;
}
/* .abbrCheckBoxRows{
    display: block;
} */
.abbrCheckBoxRow{
    display: flex;
    text-align:center;
    margin: 0 0 1em 0 ;
}
.abbrCheckBox>.line>.abbrName{
    margin: 0em 0 0.15em 0.2em ;
}
.buttonBox>.duplicationCheck:nth-child(2){
    margin-top: 6.7em;
}
.buttonBox>.duplicationCheck:nth-child(3){
    margin-top: 14.1em;
}
.buttonBox>.duplicationCheck:nth-child(4){
    /* margin-top: 6.8em; */

    /* 추천 이미지 추가하는 경우 */
    margin-top: 7.8em;
}
.v-line {
    margin-top: 1em;
    border-left : 1.5px solid var(--khy-off-gray);
    height : 100px;
}
.h-line1 {
    border-bottom : 1.5px dotted var(--khy-off-gray);
    height : 12px;
    width: 120%;
  }
/* .h-line2 {
    margin-top: 1.38em;
    border-bottom : 1.5px dotted #505050;
    height : 1.3em;
    margin-left: 0.08em;
  } */
.duplicationCheck{
    color: var(--lol-white); 
    background-color: var(--lol-black); 
    border:solid 0.5px var(--lol-white); 
    border:0 0 0 0;  
    border-radius: 5px; 
    padding: 0.5em 1em 0.5em 1em; 
    margin: 0.5em 0em 0.5em 0em; 
    cursor: pointer;
}
.previewBox1{
    /* margin-right: 10em; */
    /* 추천이미지 추가하는 경우  */
    margin-right: 1em; 
}
.previewBox1>p{
    margin-bottom: 1.5em;
}
.previewBox2{
    margin-left: 1em;
    margin-right: 3em;
}
.previewBox2>p{
    margin-bottom: 1.25em;
}
.previewBox2>img:nth-child(3),.previewBox2>img:nth-child(4){
    margin-left: 1.5em;
}
.previewBox2>img{
    transition: all 0.05s linear;
}
.previewBox2>img:hover{
    transform: scale(1.1);
}
.info{
    display: flex;
    justify-content: end;
    margin: 0 2em 1em 0 ;
}
/* 약관 동의 */
.agree .all_agree input[type="checkbox"] {display: none;}
.agree .all_agree input[type="checkbox"] + label {
display: inline-block; width:17px; height: 17px; background: #fa3062;
cursor: pointer; border-radius: 3px;float: right;}
.agree .all_agree:after {display:block; clear:both; content:"";}
.agree .all_agree input[type="checkbox"]:checked + label {background:url(../images/check.png) #fa3062 no-repeat center/10px 10px; float: right}
.agree {position:relative;}
.agree .all_agree input[type="checkbox"] + label span {position: absolute; top: 0; left:0px; display: block; font-weight: bold;}
.agree {position:relative;}
.agree .all_agree input[type="checkbox"] + label span {position: absolute; top: 0; left:0px; display: block; font-weight: bold;}

#privacy_scroll::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
}
#privacy_scroll::-webkit-scrollbar-thumb {
    height: 40%; /* 스크롤바의 길이 */
    background: var(--lol-white); /* 스크롤바의 색상 */
    border-radius: 10px;
}
#privacy_scroll::-webkit-scrollbar-track {
    background: var(--khy-off-gray);  /*스크롤바 뒷 배경 색상*/
}
#privacy_scroll{
    border-radius: 5px;
}
.enrollButton{
    color: var(--lol-white); 
    background-color: var(--lol-black); 
    border:solid 0.5px var(--lol-white); 
    border:0 0 0 0;  
    border-radius: 5px; 
    padding: 0.7em 6em 0.7em 6em; 
    margin: 0.5em 0em 0.5em 0em; 
    cursor: pointer;
}
