* {
    color: var(--lol-white, #EEE);
    list-style: none;
    margin: 0;
}

/* 타이틀 */
.title-margin {
    height: 35vh;
}

.title-container {
    margin-bottom: 140px;
    text-align: center;
}

.mainTitle {
    font-size: 50px;
}

/* 컨텐츠 */
#noScheduleMsg {
    font-size: 2rem;
}

.no-match,
.match {
    max-width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.match:hover {
    cursor: pointer;
    background-color: var(--kjh-gray-darker);
    border-radius: 25px;
}

.match-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
}

.match-team > span {
    font-size: 2rem;
    padding: 0 25px;
    font-family: "EF_MACHO";
}

.match-time,
.match-date {
    text-align: center;
    font-family: "EF_MACHO";
}

.match-time > div {
    margin-bottom: 10px;
    font-family: "EF_MACHO";
}

.match-time > span {
    font-family: "EF_MACHO";
}

.match-date {
    font-size: 2.25rem;
    margin-bottom: 25px;
}

.experience {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-btn {
    font-size: 1.5rem;
    font-family: "EF_MACHO";
    border-style: none;
    color: var(--lol-white);
    background-color: var(--bg-gray);
}

.experience-btn {
    cursor: pointer;
}

/* 챔피언 밴픽 */
.banpick-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--lol-black);
}

.team-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.red-team,
.blue-team {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.space {
    width: 10%;
}

.player {
    width: 20%;
    height: 20%;
    text-align: center;
    position: relative;
}

.area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.champion-area {
    display: flex;
    width: 100%;
    max-height: 640px;
    overflow: auto;
    gap: 25px;
    flex-flow: wrap;
    place-content: flex-start center;
}

.champions {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px 5px;
    z-index: 1;
    font-size: 0.75rem;
}

.champions:hover {
    filter: brightness(50%);
}

.champion-img {
    width: 100px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.champion-area::-webkit-scrollbar {
    width: 10px;
}

.champion-area::-webkit-scrollbar-thumb {
    background-color: #515151;
    border-radius: 5px;
}

.champion-area::-webkit-scrollbar-track {
    background-color: var(--bg-gray);
    border-radius: 5px;
}

.choice {
    filter: brightness(25%);
    pointer-events: none;
}

.select {
    filter: brightness(25%);
    pointer-events: none;
}

.retry-btn,
.return-btn,
.submit-btn,
.choice-btn {
    display: flex;
    justify-content: center;
}

.retry-btn button,
.return-btn button,
.submit-btn button,
.choice-btn button {
    color: var(--lol-black);
    display: inline-block;
    background-color: #1F8ECE;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-btn button:hover {
    background-color: #1374A2;
}

.bgm-icon {
    width: 36px;
}

.bgm-icon:hover {
    cursor: pointer;
}

#timer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "EF_MACHO";
    font-size: 3rem;
}

.banpick-img-box img,
.champion-img {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 체험 */
.match-blue-team {
    color: blue;
}

.match-red-team {
    color: red;
}

.answer-text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "EF_MACHO";
    font-size: 2rem;
    margin: 20px 0px;
}