* {
    color: var(--lol-white);
}

p {
    font-size: 1.2rem;
}

img {
    display: block;
    width: 100%;
}

table, tr, td {
    border:none;
}

.pos-absolute {
    background-color: #1c1c1c;
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    width: max-content;
    max-width: 320px;
    padding: 20px;
    text-align: left;
    display: none;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
                0 0 0 1px hsla(230, 13%, 9%, 0.075),
                0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
                0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
                0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.pos-absolute h4 {
    margin-bottom: 10px; 
}

.spell-title {
    color: rgb(12, 206, 51);
}

.item-title {
    color: rgb(211, 0, 211);
}

.price {
    color: rgb(246, 255, 119); 
    margin-top: 10px;
}

.ornn-border {
    border: 3px ridge rgb(221, 36, 36);
}

.flex-grow {
    flex-grow: 1;
}

.match-summary {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.match-summary_date {
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.match-summary_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.match-summary_content>* {
    width: 330px;
    text-align: center;
}

.match-summary_content>h2 {
    font-size: 4rem;
}

.summary_content-team {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary_content-team>div {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary_content-team img {
    margin: auto;
    width: 50%;
}

.bar-layout {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-layout>hr {
    height: 5px;
    background-color: var(--lol-white);
}

.bar-layout>p {
    width: 150px;
    font-size: 1.1rem;
    text-align: center;
}

.set-tab {
    display: flex;
    list-style-type: none;
    border-bottom: 3px solid var(--lol-white);
    width: 100%;
    margin-bottom: 20px;
}

.set-tab_btn {
    display: block;
    padding: 8px 40px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    background-color: var(--lol-white);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: var(--lol-black);
}

.set-container {
    width: 100%;
}

.set-result-top * {
    font-weight: 700;
}

.set-result {
    width: 100%;
    display: none;
}

.show { 
    display: block; 
}

.top-victory_or_defeat,
.side_and_team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-victory_or_defeat>p {
    border-radius: 10px;
    padding: 5px 10px;
}

.team {
    width: 400px;
}

.team>* {
    width: 120px;
}

.side, .team,
.team-blue, .team-red {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team img {
    width: 80%;
}

.team-blue, 
.team-red {
    width: 150px;
}

.side {
    width: 130px;
}

.side div {
    width: 30px;
}

.vertical_line {
    border-left: 2px solid var(--lol-white);
    width: 0.1px;
    height: 120%;
}

.set-table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    border: none;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.set-table tr {
    height: 90px;
}

.set-table:last-child td {
    height: 240px;
}

.set-table td:first-child {
    text-align: right;
}

.set-table td:nth-child(2) {
    width: 180px;
    text-align: center;
}

.set-table td:last-child {
    text-align: left;
}

.banned-blue,
.banned-red {
    display: flex;
    align-items: center;
}

.banned-blue {
    justify-content: right;
}

.banned-red {
    justify-content: left;
}

.set-category {
    font-weight: 900;
    background-color: var(--lol-white);
    border-radius: 10px;
    padding: 10px;
    margin: 0 40px;
    color: var(--lol-black);
    text-align: center;
}

.set-position {
    padding: 90px 10px;
}

.banned-blue>div,
.banned-red>div {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.champion-layout {
    width: 60%;
    border: 3px solid var(--lol-white);
    border-radius: 50%;
}

.banned-blue img,
.banned-red img {
    filter: grayscale(100%);
    margin-bottom: 5px;
}

.set-kills {
    margin: 0 30px;
    font-size: 2.5rem;
    font-weight: 900;
}

.set-objects {
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set-objects:first-child {
    margin-right: 30px;
    margin-left: auto;
}

.set-objects:last-child {
    margin-right: auto;
    margin-left: 30px;
}

.set-objects-obj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-player-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.set-player-content>* {
    margin-bottom: 10px;
}

.set-player-content>h2 {
    font-size: 2rem;
}

.blue-player-name {
    text-align: left;
}

.red-player-name {
    text-align: right;
}

.set-champion-content,
.set-champion-item,
.set-champion-info {
    display: flex;
    align-items: center;
}

.set-champion-content>* {
    margin-bottom: 10px;
}

.player-champ-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-champ-sub>h3 {
    text-align: left;
}

.player-champion-img {
    width: 70px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.player-champion-img>img {
    width: 100%;
}

.set-champion-spell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.set-champion-spell>img {
    width: 25%;
    margin-right: 5px;
    border-radius: 12px;
}

.set-champion-item {
    position: relative;
    width: 350px;
}

.set-champion-item>img {
    width: 13%;
    margin-right: 5px;
    border-radius: 12px;
}

.set-champion-stats {
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.set-champion-stats span {
    font-size: 1rem;
    font-weight: 700;
    color: #5F5F5F;
}