* {
    color: var(--lol-white);
}

img {
    display: block;
    width: 100%;
}

.animated-smooth {
	transition: 0.4s ease-out;
}

.flex-grow {
    flex-grow: 1;
}

.team-title {
    width: 100%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
}

.team-title_upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-title_upper>h2 {
    font-size: 8rem;
}

.team-title_upper>div {
    width: 150px;
}

.team-title_lower {
    margin-top: 20px;
    height: 45px;
    display: flex;
    align-items: center;
}

.team-title_lower>p {
    font-size: 1.2rem;
    margin: 0 10px;
}

.player-profile {
    width: 100%;
    padding: 10px;
}

.team-players-info {
    width: 100%;
    height: 168px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--lol-white);
}

.team-players-info>div {
    width: 420px;
}

.team-players-info>div:nth-child(2)>img {
    width: 15%;
    margin: 0 auto;
}

.players-name p {
    color: var(--lol-mainblue);
    font-weight: 700;
    font-size: 1.2rem;
}

.name-list {
    display: flex;
}

.name-list span {
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 20px;
}

.name-list input[type="button"] {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: var(--lol-white);
    font-weight: 700;
}

.players-img {
    padding-bottom: 1px;
}

.players-img>img {
    margin: 0 0 0 auto;
}

.team-stats {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.team-stats-element {
    width: 250px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.team-stats-element h3 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-right: 10px;
}

.stats-element_sb {
    display: flex;
    align-items: baseline;
}

.bar-layout {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-layout>hr {
    height: 5px;
    background-color: var(--lol-white);
}

.bar-layout>p {
    padding: 0 40px;
    font-size: 1.1rem;
    text-align: center;
}

.champions {
    margin: 0 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--lol-white);
}

.champions-table {
    width: 100%;
}

.champions-table th,
.champions-table td {
    width: 110px;
    text-align: center;
    padding-bottom: 15px;
}

.champions-table-column {
    display: inline-block;
    width: 90px;
    padding: 3px 5px;
    border-radius: 12px;
    background-color: var(--lol-white);
    color: var(--lol-black);
    font-size: 0.9rem;
    font-weight: 700;
}

.player-stats-date {
    margin: 10px 10px 0 0;
    text-align: right;
}