* {
    color: var(--lol-white);
}

img {
    display: block;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.match-summary {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.match-summary_date {
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.match-summary_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.match-summary_content>* {
    width: 330px;
    text-align: center;
}

.match-summary_content>h2 {
    font-size: 4rem;
}

.summary_content-team {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.summary_content-team>div {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.summary_content-team img {
    margin: auto;
    width: 50%;
}

.bar-layout {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-layout>hr {
    height: 5px;
    background-color: var(--lol-white);
}

.bar-layout>p {
    width: 150px;
    font-size: 1.1rem;
    text-align: center;
}

.set-tab {
    display: flex;
    list-style-type: none;
    border-bottom: 3px solid var(--lol-white);
    width: 100%;
    margin-bottom: 20px;
}

.set-tab_btn {
    display: block;
    padding: 8px 40px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    background-color: var(--lol-white);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: var(--lol-black);
}

.set-container {
    width: 100%;
}

.set-result-top * {
    font-weight: 700;
}

.set-result {
    width: 100%;
    display: none;
}

.show{ 
    display: block; 
}

.top-victory_or_defeat,
.side_and_team {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-victory_or_defeat>p {
    border-radius: 10px;
    padding: 5px 10px;
}

.team {
    width: 300px;
}

.team>* {
    width: 120px;
}

.side, .team,
.team-blue, .team-red {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team img {
    width: 80%;
}

.team-blue>, 
.team-red> {
    width: 250px;
}

.side div {
    width: 30px;
}

.vertical_line {
    border-left: 2px solid var(--lol-white);
    width: 0.1px;
    height: 120%;
}

.set-top-table {
    margin: 0 auto;
}

.set-top-table tr {
    height: 90px;
    margin-bottom: 10px;
}

.set-top-table td:first-child {
    text-align: right;
}

.set-top-table td:nth-child(2) {
    text-align: center;
}

.set-top-table td:last-child {
    text-align: left;
}

.banned-blue,
.banned-red {
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-category {
    width: 80px;
    background-color: var(--lol-white);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 40px;
    color: var(--lol-black);
    text-align: center;
}

.banned-blue>div,
.banned-red>div {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banned-blue img,
.banned-red img {
    width: 50%;
    border: 3px solid var(--lol-white);
    border-radius: 50%;
    filter: grayscale(100%);
    margin-bottom: 5px;
}

.kills {
    margin: 0 35px;
    font-size: 2.5rem;
    font-weight: 900;
}