@charset "UTF-8";

.mainTitleMargin{
    margin-bottom: 60px;
}

.qnaContainer {
    border: 1px solid salmon;
}

.qnaSort {
    display: inherit;
    margin-bottom: 20px;
}

/* ***** 페이지바 ***** */
.pageBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.page {
    padding: 0;
    margin: 0;
    align-items: center;
}

.page li {
    width: 10px;
    height: 10px;
    display: inline;
}

.page li a, .page li span {
    color: var(--lol-white);
    margin: 5px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 20px;


    font-family: "SUIT-Regular";
}

.page li a:hover:not(.nowPage) {
    font-weight: bold;
    color: var(--khy-bg-gray);
}

.nowPage {
    background-color: var(--khy-bg-gray);
    border-radius: 10px;
    color: var(--lol-white);
    font-weight: bold;
    padding: 8px 15px;
}

/* q&a 전체, 내가 쓴 글 */

.qnaAll{
    padding: 5px;
    margin-right: 11px;
}

.qnaSpan{
    font-weight: bold;
}

.qnaSpanNo{
    color: var(--khy-off-gray);
    font-weight: bold;
}


/* 문의하기 테이블 */
.qnaTable {
    width: 100%;
    border-top: 3px solid var(--lol-white);
    border-collapse: collapse;
}

.qnaTable th, td {
    border-bottom: 1px solid var(--lol-white);
    padding: 16px 0px;
    text-align: center;
}

.tableTitle {
    text-align: left;
    padding-left: 30px;
    width: 640px;
}

.qnaBtn{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--lol-black);
    border: 1px solid var(--lol-white);
    color: var(--lol-white);
}

.comBtn{
    background-color: var(--lol-white);
    color: var(--lol-black);
}

.tableContainer{
    min-height: 300px;
}

/* 문의하기 버튼 */
.insertBtnDiv{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.insertBtn{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 7px;
    cursor: pointer;
}

.insertBtn:hover{
    font-weight: bold;
}

.insertBtnNo{
    background-color: transparent;
    border: 2px solid var(--lol-mainblue);
}

.qnaTitle{
	cursor: pointer;
}

/* 버튼 설정 */
button{
    transition: ease-out 0.2s;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}