@charset "UTF-8";

#choiceGameBack {
	width: 100%;
	height: 100%;
	opacity: 0.2;
	position: absolute;
	z-index: -10;
}

#gameTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.choiceMain {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gameChoiceView {
	display: flex;
	align-items: center;
	width: 75%;
	justify-content: space-evenly;
	margin-bottom: 4rem;
	height: 353px;
}

.choiceTheme {
	display: flex;
	border: 4px solid var(--lol-teamblue);
	border-radius: 10px 10px 10px 10px;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 660px;
}

.choiceTheme>div:last-child>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 84%;
	font-size: 30px;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: var(--lol-mainblue);
}

.cursor,
.startGame {
	cursor: pointer;
}

#poro {
	width: 100%;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
}

.load {
	width: 100%;
	height: 100%;
	background-color: var(--lol-black);
	animation-duration: 4s;
	animation-name: slidein;
	z-index: 10000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-fill-mode: forwards;
}

@keyframes slidein {
	0% {
		margin-left: -100%;
		width: 100%;
		opacity: 0;
	}

	50% {
		margin-left: 0%;
		width: 100%;
		opacity: 1;
	}

	100% {
		margin-left: 100%;
		width: 100%;
		opacity: 0;
		display: none;

	}

}

#worldCupPlay {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#adventurePlay {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cupGameBack {
	background-color: var(--lol-mainblue);
	border: 4px solid var(--lol-mainblue);
	border-radius: 10px 10px 10px 10px;
}

.cupGameBack>div:first-child,
.cupGameBack>div:first-child>div:first-child {
	display: flex;
}

.cupGameBack>div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--lol-white);
}


.cupGameBack>div:last-child>div {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.cupGameBack>div:last-child>div>div {
	display: flex;
	align-items: center;
}

.cupGameBack>div:last-child>h3 {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.start * {
	margin: 0.4rem;
}

#worldCupPlay>div {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.percent {
	height: 100%;
	width: 100%;
}

.adventureMain {
	display: flex;
	position: relative;
	background-color: var(--lol-mainblue);
}

#adch {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 117px;
	left: 93px;
	display: flex;

}

#adtext {
	position: absolute;
	width: 750px;
	height: 200px;
	bottom: 50px;
	left: 130px;
	display: flex;
}

#adtext>div {
	background-color: var(--lol-mainblue);
	width: 100%;
	opacity: 0.3;
}

#adtext>p {
	position: absolute;
	top: 32px;
	left: 29px;
	font-size: 28px;
	color: var(--lol-white);

}

.adventureMain>img:first-child {
	height: 600px;
	border: 4px solid var(--lol-mainblue);
	width: 1000px;
}

p.typing-txt {
	display: none;
}

.typing {
	/*position: absolute;*/
	display: inline-block;
}

#adname {
	position: absolute;
	width: 180px;
	height: 60px;
	background-color: var(--lol-mainblue);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 222px;
	left: 150px;
}

#adname>div>p {
	font-size: 18px;
	font-family: "EF_MACHO";

}

#adchoice {
	position: absolute;
	width: 980px;
	display: flex;
	flex-direction: column;
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
	top: 144px;
}

#adchoice>button {
	width: 200px;
	height: 50px;
	border-radius: 20px;
	background-color: var(--lol-white);
	font-size: 21px;
	border: none;
	opacity: 0.9;
	cursor: pointer;
}

#adchoice>button:hover {
	background-color: var(--lol-mainblue);
}

#adarrow {
	position: absolute;
	bottom: 60px;
	right: 138px;
	cursor: pointer;
}

#adsound {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	background-color: rgba(100,84,237,0.3);
    border-radius: 10px;
    display: flex;
}

.soundimg {
	width: 36px;
}

footer {
	margin-top: 180px;
}