@charset "UTF-8";

.worldcupModal {
	width: 600px;
	height: 400px;
	position: absolute;
	z-index: 1000;
	background-color: var(--lol-white);
	margin-top: 60px;
}

.worldcupModal>img {
	margin-top: 3rem;
}

.worldcupModal>h2 {
	color: var(--lol-black);
	font-family: EF_MACHO;
	margin-top: 1rem;
}

.worldcupModal>div>p {
	color: var(--lol-black);
	font-family: "SUIT-Regular";
}

.worldcupModal>div {
	margin-top: 1rem;
	width: 90%;
}

.worldcupModal>div>* {
	margin-bottom: 0.5rem;
}

.worldcupModal>div>select {
	width: 33rem;
	height: 2.5rem;
	background-color: #D9D9D9;
	text-indent: 1rem;
}

.worldcupModal>div>button:first-child {
	width: 25rem;
	height: 2.8rem;
	border: none;
	background-color: var(--lol-mainblue);
	color: var(--lol-white);
}

.worldcupModal>div>button:last-child {
	width: 8rem;
	height: 2.8rem;
}

.worldcupModal>form>div:last-child>button {
	font-size: 16px;
}

.firstImg,
.secondImg {
	width: 77vh;
	height: 100%;
	background-size: contain;
}

#worldcupStart {
	display: flex;
	flex-direction: column;
}

.round {
	position: absolute;
	color: var(--lol-white);
	top: 57px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgb(0, 0, 0, 0.6);
	font-size: 3vh;
	z-index: 3;
}

.fight {
	display: flex;
	justify-content: center;
}

.imgSetting {
	height: 100vh;
	display: flex;
}

.fight>img {
	position: absolute;
	height: 28%;
	top: 44%;
	left: 41%;
	background-size: contain;
	background-position: center top;
	pointer-events: none;
}

.fight>div {
	position: absolute;
	display: flex;
	top: 67%;
	width: 154vh;
	justify-content: space-around;
	color: var(--lol-white);
	-webkit-text-stroke: 1.5px;
	font-size: 3vh;
	-webkit-text-stroke-color: var(--lol-mainblue);
}

.fight>div>h2 {
	display: flex;
	width: 50%;
	justify-content: center;
}

.finalLeftText {
	position: absolute;
	color: white;
	top: 13vh;
	right: 43vh;
	font-size: 3vh;
	width: 53vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.finalRightText {
	position: absolute;
	color: white;
	top: 13vh;
	left: 43vh;
	font-size: 3vh;
	width: 53vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.finalCenter {
	display: flex;
	align-items: center;
}

.finalRightText * {
	margin: 3vh;
}

.finalLeftText * {
	margin: 3vh;
}

.roundMain {
	width: 100%;
	height: 62px;
	display: flex;
	justify-content: center;
}

.firstVideo,
.secondVideo {
	width: 100vh;
	height: 57%;
	background-size: contain;
}

.videoSetting {
	position: absolute;
	top: 6vh;
	left: 4vh;
	height: 128vh;
	display: flex;
    width: 97%;
}

.choicemain {
	left: 4vh;
	height: 8vh;
	width: 97%;
	display: flex;
	position: absolute;
	top: 79vh;
}

.leftchoice,
.rightchoice {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: EF_MACHO;
	font-size: 4vh;
}

.leftchoice {
	background-color: red;
}

.rightchoice {
	background-color: blue;
}

.videofight>div {
	position: absolute;
	display: flex;
	top: 67%;
	width: 97%;
	left: 4vh;
	justify-content: space-around;
	color: var(--lol-white);
	-webkit-text-stroke: 1.5px;
	font-size: 3vh;
	-webkit-text-stroke-color: var(--lol-mainblue);
}

.videofight>div>h2 {
	display: flex;
	width: 50%;
	justify-content: center;
}

.videofight>div{
    pointer-events: none;
}

.videofight>img {
	position: absolute;
	height: 28%;
	top: 44%;
	left: 41%;
	background-size: contain;
	background-position: center top;
	pointer-events: none;
}