@charset "UTF-8";

#storeMainImg {
	width: 1280px;
	height: 420px;
	margin-bottom: 1rem;
}

.page-margin {
	margin: 0px;
}

.storeChoice {
	display: flex;
	justify-content: center;
}

.storeChoice>a {
	color: var(--lol-white);
	font-family: EF_MACHO;
	font-size: 30px;
	margin: 1rem;
}

.storeLine {
	width: 1280px;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.arrayPoint>p {
	color: var(--lol-white);
	font-family: EF_MACHO;
	font-size: 17px;
	margin: 0.5rem;
	cursor: pointer;
}
.arrayPoint{
    display: flex;
}

.storeTheme {
	display: flex;
	justify-content: space-between;
}

#searchImg {
	position: absolute;
	margin-left: 7px;
	width: 1.2rem;
	height: 1.2rem;
	z-index: 1;
}

#storeSearch {
	background-color: var(--lol-black);
	border: 1px solid var(--lol-mainblue);
	height: 2rem;
	width: 20rem;
	text-indent: 2.4rem;
	color: white;
	font-size: 18px;
}

#storeSearch:focus {
	outline: var(--lol-mainblue);
}

#storeSearchMain {
	display: flex;
	align-items: center;
}

#storeSearchButton {
	background-color: var(--lol-mainblue);
	border: none;
	height: 2rem;
	width: 4rem;
	margin-left: 1.5rem;
	cursor: pointer;
	color: var(--lol-white);
	font-size: 16px;
}

.itemArray {
	display: flex;
	justify-content: flex-start;
	margin-top: 2rem;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}

.item>img {
	width: 17rem;
	height: 17rem;
	background-color: var(--bg-gray);
	border: 1px solid var(--lol-mainblue);
	cursor: pointer
}

.item {
	color: var(--lol-white);
	font-family: "SUIT-Regular";
	margin-bottom: 3rem;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item>div {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 3rem;
}

.item>div>img {
	margin-right: 1rem;
}

.item>h4 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	width: 100%;
	margin-left: 3rem;
	justify-content: flex-start;
}

.item>div>h5 {
	font-size: 18px;
}

.storeTheme>a {
	color: var(--lol-mainblue);
	text-decoration: underline;
	font-size: 18px;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	background-color: #000;
	display: none;
}

.storeModal {
	border: 2px solid var(--lol-mainblue);
	width: 600px;
	height: 400px;
	display: none;
	position: absolute;
	z-index: 10000;
	background-color: var(--lol-black);
	font-family: "SUIT-Regular";
	color: var(--lol-white);
}

#modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modalImg {
	width: 14rem;
	height: 14rem;
}

#modalItemDetail {
	display: flex;
	width: 90%;
}

#modalContent>p {
	font-family: EF_MACHO;
	font-size: 20px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#modalItemDetail>div>table>tbody>tr:first-child {
	height: 3rem;
}

#moadlButton {
	width: 100%;
	display: flex;
	margin-top: 2rem;
	justify-content: center;
}

#moadlButton>button {
	width: 6rem;
	height: 2rem;
	border: none;
	color: var(--lol-black);
	font-size: 16px;
	cursor: pointer;
}

#moadlButton>button:first-child {
	background-color: var(--lol-white);
	margin-right: 1rem;
}

#moadlButton>button:last-child {
	background-color: var(--lol-teamblue);
	margin-left: 1rem;
}

#modalTable>tbody>tr>td:first-child {
	width: 5rem;
}

#checkitem {
	color: var(--lol-mainblue);
}
.nickName {
	border: 2px solid var(--lol-mainblue);
	width: 500px;
	height: 220px;
	display: none;
	position: absolute;
	z-index: 10000;
	background-color: var(--lol-black);
	font-family: "SUIT-Regular";
	color: var(--lol-white);
}

#nickCloseContainer {
	width: 100%;
	display: flex;
	margin-right: 2vh;
	justify-content: flex-end;
}

#nickContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nickClose {
	width: 3vh;
	position: absolute;
	top: -1.5vh;
	right: -1.5vh;
	cursor: pointer;
}

#nickText {
	width: 100%;
	height: 67%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nickText>input:first-child {
	width: 70%;
	height: 80%;
	border: 2px solid var(--lol-mainblue);
	text-indent: 0.8rem;
	background-color: var(--lol-black);
	color: var(--lol-white);
	outline: none;

}

#nickText>input:last-child {
	width: 20%;
	height: 80%;
	border: 2px solid var(--lol-white);
	background-color: var(--lol-black);
	color: var(--lol-white);
}

#nickChange {
	width: 70%;
	display: flex;
	align-items: center;
	margin-bottom: 1vh;
}

#nickChange>input {
	width: 2vh;
	height: 2vh;
	-webkit-appearance: none;
	margin-right: 1vh;
	border: 2px solid var(--lol-mainblue);
	background-color: var(--lol-black);

}

#nickChange>input:checked {
	border: 2px solid var(--lol-mainblue);
	background-color: var(--lol-black);
	color: var(--lol-white);

}

#nickChangeButton {
	width: 24%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}

#nickChangeButton>img {
	position: absolute;
	left: 44%;
	z-index: 2;
	width: 20px;
}

#nickChangeButton>button {
	width: 100%;
	height: 4vh;
	text-indent: 19%;
	background-color: var(--lol-black);
	color: var(--lol-white);
	border: 2px solid var(--lol-white);
	pointer-events: none;
}

#nickResult {
	width: 70%;
	display: flex;
	font-size: 11px;
}

#nickResult>img {
	width: 1vh;
	margin-right: 0.5vh;
}

#nickChange>input[type="checkbox"] {
	display: none;
}

#nickChange>input[type="checkbox"]+label {
	display: inline-block;
	position: relative;
	width: 2vh;
	height: 2vh;
	-webkit-appearance: none;
	margin-right: 1vh;
	border: 2px solid var(--lol-mainblue);
	background-color: var(--lol-black);
	cursor: pointer;
	pointer-events: none;
}

#nickChange>input[id="check1"]:checked+label::after {
	content: '✔';
	font-size: 25px;
	width: 30px;
	height: 30px;
	text-align: center;
	position: absolute;
	left: -3px;
	top: -14px;
	color: var(--lol-mainblue);
}