@charset "UTF-8";

/* 승부예측 타이틀 */
.mpTitleMargin {
    height: 35vh;
}

.mpTitle {
    margin-bottom: 100px;
}

.mpTitle p {
    text-align: center;
}

.mpTitle .mp {
    font-size: 50px;
    margin-bottom: 40px;
}

.bgImgDiv {
    width: 100vw;
    height: 100%;
    background-size: contain;

    background-repeat: no-repeat;

    margin: 0;
    object-fit: cover;
    width: 100%;

    background-position: center top;
}

.mpInfo {
    margin-bottom: 80px;
}

.mpCountSpan {
    color: var(--lol-mainblue);
}

/* 승부예측 주차 선택 */
.closeWeek{
	color: var(--khy-off-gray);
}

.weekChoiceDiv {
    display: flex;
    justify-content: center;

}

.weekDiv {
    background-color: var(--khy-bg-gray);
    border-radius: 10px;
    width: 95px;
    margin: 4px;
    border-style: none;
}

.weekDiv p {
    text-align: center;
}

.weekDivInfo {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 2px;
    padding-top: 10px;
}

.week {
    padding-right: 2px;
}

.weekSpan {
    padding-left: 2px;
}

.weekStatus {
    padding-bottom: 10px;
}

.weekChoice {
    border: 3px solid var(--lol-mainblue);
}

.weekChoiceP {
    color: var(--lol-mainblue);
}

.borderRank{
	border: 3px solid var(--lol-mainblue);
}

/* 승부예측 + 적중률 랭킹 + 실시간 채팅 */
.mpPageDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.mpDiv {
    margin-right: 20px;
    margin-bottom: 40px;
}

.mpDateDiv {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.mpAllDiv {
    width: 75%;
    margin-bottom: 40px;
}

.dateHr {
    margin: 0;
    width: 100%;
    height: 1px;
    margin-left: 10px;
    opacity: 0.5;
    background-color: var(--lol-white);
}

.statusTimeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statusDiv {
    background-color: var(--khy-bg-gray);
    /* background-color: #530100; */
    width: 80px;
    height: 27px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mpMatchDiv {
    display: flex;
    margin-top: 7px;
    margin-bottom: 20px;
}

.homeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100px;
    border-radius: 13px 0 0 13px;
    border: 3px solid var(--khy-bg-gray);
    border-right: none;

    cursor: pointer;
}

.awayDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100px;
    border-radius: 0 13px 13px 0;
    border: 3px solid var(--khy-bg-gray);

    cursor: pointer;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 62px;
    height: 62px;
}

.awayLogoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 62px;
    height: 62px;
}

.logoImgDiv {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.logoImgDiv img {
    max-width: 62px;
    max-height: 62px;
}

.homeStatusDiv {
    width: 240px;
}

.awayStatusDiv {
    width: 240px;
    height: 70%;
    display: inline-block;
    align-items: end;
    justify-content: end;
}

.homeScoreDiv {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    width: 40px;
}

.awayScoreDiv {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 40px;
}

.awaySort {
    text-align: right;
}


/* 적중률 랭킹 */
.choiceTitle {
    display: flex;
    align-items: center;
}

.rankContentDiv {
    background-color: transparent;
    height: 545px;
    width: 100%;
    outline: none;
    border: 3px solid var(--khy-bg-gray);
    border-radius: 10px;

    margin-top: 13px;
    margin-bottom: 35px;
}

.rankContentDiv table {
    color: var(--lol-white);
}

.resultTr {
    background-color: var(--khy-bg-gray);
    border: 2px solid var(--lol-mainblue);
}

.centerSort {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSort {
    display: flex;
    align-items: center;
    justify-content: start;
}

.rankInfoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 18px;

    background-color: var(--khy-bg-gray);
    border-radius: 10px;
    height: 38px;
}

.rankTrDiv {
    display: flex;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 18px;
}

/* 실시간 채팅 */
.chatDiv{
	margin-bottom: 50px;
}

.chatTitle {
    display: flex;
    align-items: center;
}

.chatBtn {
    background-color: transparent;
    height: 60px;
    width: 100%;
    outline: none;
    border: 3px solid var(--khy-bg-gray);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 13px;
}

/* 나의 적중률 랭킹, 횟수 */
.myDiv {
    display: flex;
    justify-content: space-between;
    height: 340px;
}

.myInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--khy-bg-gray);
    width: 49.5%;
    border-radius: 10px;

    text-align: center;
}

.myInfoDetailDiv {
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myInfoChartDiv {
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myRank {
    margin-top: 18px;
    margin-bottom: 20px;
}

/* chart */
canvas {
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.chart{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* 댓글 */
/* 문의 댓글 css */
.titleBlack {
    font-family: "EF_MACHO";
    color: var(--lol-black);
}

.contentBlack {
    font-family: "SUIT";
    color: var(--lol-black);
}

.mpCommentDiv {
    margin-top: 100px;
    border-radius: 10px;
    background-color: var(--lol-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mpCommentDivSize {
    width: 92%;
    height: 90%;
}

.mpCommentTitle {
    margin: 50px 0px 20px 0px;
    font-size: 23px;
}

ion-icon {
    color: var(--lol-black);
    font-size: 35px;
    cursor: pointer;
}

.insertCommentDiv {
    min-height: 150px auto;
    border-radius: 10px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.insertComment {
    border: none;
    background-color: #cccccc;
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 10px;
}

.insertComment:focus {
    outline: none;
}

.mpCommentListDiv {
    margin: 70px 0px 50px 0px;
}

.countBtnDiv {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.countBtn {
    margin: 20px 25px;
    display: flex;
    justify-content: end;
}

.commentBtn {
    border-radius: 10px;
    background-color: var(--lol-mainblue);
    height: 33px;
    width: 70px;
    color: var(--lol-white);
    border-style: none;
    font-size: 18px;
    cursor: pointer;
}

.iconBtn {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 25px;
}

/* 댓글 리스트 조회 css */
.commentSort {
    display: flex;
    margin-bottom: 10px;
}

.commentListSort {
    display: flex;
}

.newMargin {
    margin-right: 13px;
}

.commentList {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 25px 10px;
}

.detailDiv {
    width: 1070px;
    margin-left: 20px;
}

.detaildetailDiv {
    width: 1000px;
    margin-left: 20px;
}

.commentDetail {
    display: flex;
    justify-content: space-between;
}

.commentInfo {
    display: flex;
    align-items: center;
}

.bestDiv {
    background-color: var(--lol-mainblue);
    border-radius: 10px;
    width: 78px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nickname {
    font-size: 25px;
    font-weight: bold;
}

.tierImg {
    max-width: 35px;
    max-height: 25px;
    margin: 0 20px 0 7px;
}

.commentContent {
    margin: 0px 0 10px 0;
    font-size: 23px;
    line-height: 34px;
}

.emoticon{
	margin-bottom: 15px;
}

.dateBuffDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateSpan {
    font-family: 'SUIT';
    font-size: 16px;
    color: var(--khy-off-gray);
}

.buffNerfDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buffDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nerfDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.bnIcon {
    color: var(--khy-off-gray);
    font-size: 15px;
}

.buffBtn {
    width: 55px;
    height: 25px;
    outline: none;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.nerfBtn{
	width: 55px;
    height: 25px;
    outline: none;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.preText {
    line-height: 38px;
}

.moreIconBtn {
    background-color: transparent;
    border-style: none;
}

.moreIcon:hover {
    background-color: #ddd;
    border-radius: 7px;
}

/* ... 클릭 시 */
.optionDiv {
    position: relative;
}

.optionUl {
    position: absolute;
    right: 0px;
    padding: 6px;
    margin-top: 6px;
    border-radius: 8px;
    z-index: 1;
    background-color: #ddd;
    list-style: none;
    width: 90px;
    justify-content: center;

    display: none;
}

.optionUl button {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--lol-black);
    border-style: none;
    margin: 8px;
    background-color: transparent;
}

.optionIcon {
    color: var(--lol-black);
    font-size: 23px;
    padding-right: 4px;
}

.fs-23 {
    font-size: 25px;
}

/* ***** 페이지바 ***** */
.pageBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.page {
    padding: 0;
    margin: 0;
    align-items: center;
}

.page li {
    width: 10px;
    height: 10px;
    display: inline;
}

.page li a {
    color: var(--lol-black);
    margin: 5px;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 20px;
}

.page li a:hover:not(.nowPage) {
    font-weight: bold;
    color: var(--lol-black);
}

.nowPage {
    background-color: #ccc;
    border-radius: 10px;
    color: var(--lol-white);
    font-weight: bold;
    padding: 8px 15px;
}

/* 버튼 설정 */
button{
    transition: ease-out 0.2s;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

/* 폰트 크기 */
.fs-35{
    font-size: 35px;
}

.fs-30{
    font-size: 30px;
}

.fs-20{
    font-size: 20px;
}

.fs-15{
    font-size: 15px;
}

.fs-75 {
    font-size: 75px;
}

.fs-45 {
    font-size: 45px;
}

.fs-40 {
    font-size: 40px;
}

.fs-26 {
    font-size: 26px;
}

.fs-25 {
    font-size: 25px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-12 {
    font-size: 12px;
}


/* hr태그 */
.hr-1{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    height: 1px;
    background-color: var(--lol-white);
}

.hr-3{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    height: 3px;
    background-color: var(--lol-white);
}

.hr-1Black {
    color: var(--lol-black);
}

/* 승부예측 추가 css */
.homeDiv:hover{
	background-color: #06002F;
}

.awayDiv:hover{
	background-color: #320100;
}

/* 댓글 추가 css */
.insertReplyDiv{
    display: flex;
    align-items: center;
}
.insertReply{
    cursor: pointer;
    margin-left: 10px;
    color: var(--lol-black);
}

.replyDiv{
    border-radius: 10px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    display: none;
}

.replyForm{
    display: flex;
    align-items: center;
}

.iconBtn{
    position: relative;
}

.emoDiv{
	display: flex;
	align-items: center;
}

.emo{
    position: absolute;
    right: 85px;
    top: 40px;
    overflow: auto;
    height: 200px;
    width: 550px;
    background-color: var(--lol-white);
    border: 2px solid var(--khy-off-gray);
    border-radius: 10px;
    z-index: 1;
    display: none;
}

.emoSort{
    display: grid;
    grid-template-columns: repeat(6,80px);
    justify-content: space-between;
    padding: 8px 18px 18px;
}

.emoSort li{
    list-style: none;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoSort button{
    border: none;
    background: none;
    cursor: pointer;
}

.replyBestAllDiv{
	display: none;
}

.commentSort p{
	cursor: pointer;
} 

/* 추가 div */
.commentDiv{
	width: 100%;
}

.insertEmoDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #aaa;
	border-radius: 10px;
	background-color: var(--lol-white);
	width: 68px;
	height: 68px;
	margin-left: 20px;
	margin-bottom: 20px;
	
	position: relative;
	display: none;
	
	/*background-image: url(/resources/images/emoticon/BROWIN.png);*/
	background-size: contain;
	background-position: center;
}

.emoXIcon{
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;	
	border-style: none;
}

.emoXIcon img{
	width: 13px;
	height: 13px;
}

.mpCommentListDivClone{
	display: none;
}

/* myBn(내 버프너프) */
.myBn{
	border: 3px solid var(--lol-mainblue);
}

/* pointer-events */
.pointerEvents{
	pointer-events: none;
}

/* 예측 진행중 배경 */
.nowRec{
	background-color: #530100;
}

/* 내 예측 성공 유무 */
.finishHome{
	background-color: #06002F;
}

.finishAway{
	background-color: #320100;
}

.ingHome{
	background-color: #0D0063;
	outline: 3px solid var(--lol-teamblue);
}

.ingAway{
	background-color: #490000;
	outline: 3px solid var(--lol-teamred);

}

.outlineAway{
	outline: 3px solid var(--lol-teamblue);
}

.outlineHome{
	outline: 3px solid var(--lol-teamred);
}
