* {
    color: var(--lol-white, #EEE);
    list-style: none;
    margin: 0;
}

#backgroundImg {
	width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    z-index: -10;
}

#quizTitle {
	display:flex;
    flex-direction: column;
    align-items: center;
    
    margin: 30px;
}

.choice-quiz {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-view{
	display:flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    height: 400px;
}

.choice-thema{
	display: flex;
    border: 4px solid var(--lol-mainblue);
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 660px;
    
    overflow: hidden;
}

.choice-thema > div:last-child > div {
	display:flex;
	flex-direction: row;
    justify-content: space-between;
    width: 84%;
    font-size: 30px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--lol-mainblue);
}

.cursor,
.start-quiz-btn{
	cursor: pointer;
}

.percent{
	height: 100%;
	width: 100%;
}

/* 동제 */
.quiz-img {
	width: 100%;
	height: 100vh;
}

.start-quiz {
	background-color: var(--lol-mainblue);
	width: 250px;
	height: 50px;
	color: var(--lol-white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
    transition: background-color 0.2s, background-color 0.2s ease-in-out;
    
    font-family: "EF_MACHO";
}

.start-quiz:hover {
    background-color: #8679f1;
}

.start-quiz:active {
	background-color: var(--lol-mainblue);
}