* {
    color: var(--lol-white, #EEE);
    list-style: none;
    margin: 0;
}

/* 타이틀 */
.title-margin {
    height: 35vh;
}

.title-container {
    margin-bottom: 140px;
    text-align: center;
}

.mainTitle {
    font-size: 50px;
}

/* 달력(헤더) */
#calendarHead {
    margin-top: 250px;
    text-align: center;
}

.calendar-year {
    font-size: 24px;
    font-family: "EF_MACHO";
}

.calendar-month {
    font-size: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-month span {
    width: 150px;
    font-family: "EF_MACHO";
}

.calendar-month svg {
    margin: 0 20px;
}

/* 달력(바디) */
#calendarBody {
    margin-top: 100px;
}

#calendarBody table {
    width: 100%;
}

.calendar-row {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--lol-white, #EEE);
    display: flex;
    justify-content: center;
}

.calendar-row td {
    text-align: center;
    flex: 1;
}

svg:hover {
    cursor: pointer;
}

.calendar-date {
    margin-bottom: 30px;
    font-family: "EF_MACHO";
}

.match-schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 5px;
    height: 25px;
    font-family: "EF_MACHO";
}

.team-logo > span {
    font-family: "EF_MACHO";
}

.match-schedule div {
    margin: 0 10px;
}

.match-schedule:hover {
    cursor: pointer;
    background-color: var(--kjh-gray-darker);;
    border-radius: 10px;
    transform: scale(1.1);
    transition: all 0.4s;
}

/* .teamLogo {
    width: 30px;
    display: flex;
    align-items: center;
} */

.winner {
    color: var(--lol-teamblue);
}