/* ***** 로그인 css ***** */
.fs-10 { font-size: 10px;}
.fs-15 { font-size: 15px;}
.fs-25 { font-size: 25px;}
.fs-30 { font-size: 30px;}
.ff-suit{ font-family: "SUIT-Regular";}
.ff-macho{ font-family: "EF_MACHO";}
.loginTitle{ display: flex; justify-content: center; margin-top: 10%; margin-bottom: 2.5%;}
.loginBox{ display: flex; flex-direction: column; /* 수직 정렬을 위해 column 설정 */ padding: 0 30em 0 30em;}
.loginBox input{color: var(--lol-white); background-color: var(--khy-bg-gray);  border:none;  border-radius: 5px; padding: 0.7em 2em 0.7em 2em; margin: 0.5em 1em 0.5em 1em;}
.autoLoginBox{ display: flex; justify-content: center; padding: 0.2em 13em 1em 0.5em;}
.autoLoginBox>p{margin-left: 0.5em;}
.autoLoginBox>input{ cursor: pointer;}
.loginButton{ display: flex; justify-content: center;}
.loginButton>input{ color: var(--lol-white); background-color: var(--lol-black); border:solid 0.5px var(--lol-white);  border-radius: 5px; padding: 0.8em 9.5em 0.8em 9.5em; margin: 0.5em 0em 0.5em 0em; cursor: pointer;}
.memberCheckBox{ display: flex; justify-content: center; margin: 1rem 0 0 0 ;}
.socialLoginBox{ display: flex; justify-content: center; margin: 1rem 0 0 0 ;}
.socialLoginBox>div{margin:0 0.5em 0 1em;}
.socialLoginBox img{width: 45px; height: 45px; cursor: pointer; }

/* 회원가입 css */
.enrollTitle{display: flex; justify-content: center; margin-bottom: 2.5%;}
.enrollBox{ 
    display: flex; 
    flex-direction: column; /* 수직 정렬을 위해 column 설정 */ 
}
.enrollBox>.line>input{ 
    color: var(--lol-white); 
    background-color: var(--khy-bg-gray); 
    border:none; 
    border-radius: 5px; 
    width: 26.5em;
    padding: 0.7em 1em 0.7em 2em; 
    margin: 0.5em 1em 0.5em 1em;
}
.divFlex{
    display: flex;
    justify-content: center;
}
.line{
    display: flex;
    align-items: center;
    justify-content: end;
}

.abbrCheckBox{ 
    color: var(--lol-white); 
    border:none; 
    border-radius: 5px; 
    padding: 0.5em 0.75em 0em 0em; 
    margin: 0.1em 0em 0em 1em;
}
.abbrCheckBox>img:nth-child(1){
	margin : 0 0 0.1em 0;
}

.abbrCheckBox>img{
	margin : 0 0 0.1em 0;
}
/* .abbrCheckBoxRows{
    display: block;
} */
.abbrCheckBoxRow{
    display: flex;
    text-align:center;
    margin: 0 0 1em 0 ;
}
.abbrCheckBox>.line>.abbrName{
    margin: 0em 0 0.15em 0.2em ;
}
.buttonBox{
	display: block;
	width: 7em;
}
.buttonBox>:nth-child(1){
	height: 15em;
}
.buttonBox>:nth-child(1)>:nth-child(2){
    width:7.8em;
}
.buttonBox>:nth-child(1)>:nth-child(5)>span{
	/*position: absolute; left: 61.3em; top: 22em;*/
	/*재설정 필요*/
	margin-top: 70px;
}

.buttonBox>:nth-child(2){
    margin-top: 10.8em
}
.buttonBox>:nth-child(2)>:nth-child(2){
    margin-top: 8.2em;
}

.v-line {
    margin-top: 1em;
    border-left : 1.5px solid var(--khy-off-gray);
    height : 100px;
}
.h-line1 {
    border-bottom : 1.5px dotted var(--khy-off-gray);
    height : 12px;
    width: 120%;
  }
/* .h-line2 {
    margin-top: 1.38em;
    border-bottom : 1.5px dotted #505050;
    height : 1.3em;
    margin-left: 0.08em;
  } */
.duplicationCheck{
	display: inline-block;
    color: var(--lol-white); 
    background-color: var(--lol-black); 
    border:solid 0.5px var(--lol-white); 
    border-radius: 5px; 
    padding: 0.4em 0.5em 0.4em 0.5em; 
    margin: 0.4em 0.2em 0.4em 0.2em; 
    cursor: pointer;
}
.duplicationCheck:hover {
    background-color: var(--khy-off-gray); /* 호버 시 배경색 변경 */
    color: var(--lol-white); /* 호버 시 글자색 변경 */
}
.previewBox1{
    /* margin-right: 10em; */
    /* 추천이미지 추가하는 경우  */
    margin-right: 1em; 
}
.previewBox1>p{
    margin-bottom: 1.5em;
}
.previewBox2{
    margin-left: 1em;
    margin-right: 3em;
}
.previewBox2>p{
    margin-bottom: 1.25em;
}
.previewBox2>img:nth-child(3),.previewBox2>img:nth-child(4){
    margin-left: 1.5em;
}
.previewBox2>img{
    transition: all 0.05s linear;
}
.previewBox2>img:hover{
    transform: scale(1.1);
}
.info{
    display: flex;
    justify-content: end;
    margin: 0 2em 1em 0 ;
}
/* 약관 동의 */
.agree .all_agree input[type="checkbox"] {display: none;}
.agree .all_agree input[type="checkbox"] + label {
display: inline-block; width:17px; height: 17px; background: #fa3062;
cursor: pointer; border-radius: 3px;float: right;}
.agree .all_agree:after {display:block; clear:both; content:"";}
.agree .all_agree input[type="checkbox"]:checked + label {background:url(../images/check.png) #fa3062 no-repeat center/10px 10px; float: right}
.agree {position:relative;}
.agree .all_agree input[type="checkbox"] + label span {position: absolute; top: 0; left:0px; display: block; font-weight: bold;}
.agree {position:relative;}
.agree .all_agree input[type="checkbox"] + label span {position: absolute; top: 0; left:0px; display: block; font-weight: bold;}

#privacy_scroll::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
}
#privacy_scroll::-webkit-scrollbar-thumb {
    height: 40%; /* 스크롤바의 길이 */
    background: var(--lol-white); /* 스크롤바의 색상 */
    border-radius: 10px;
}
#privacy_scroll::-webkit-scrollbar-track {
    background: var(--khy-off-gray);  /*스크롤바 뒷 배경 색상*/
}
#privacy_scroll{
    border-radius: 5px;
}
.enrollButton{
    color: var(--lol-white); 
    background-color: var(--lol-black); 
    border:solid 0.5px var(--lol-white); 
    border-radius: 5px; 
    padding: 0.7em 6em 0.7em 6em; 
    margin: 0.5em 0em 0.5em 0em; 
    cursor: pointer;
    font-size: 1em;
}
.enrollButton:hover {
    background-color: var(--lol-white); /* 호버 시 배경색 변경 */
    color: var(--lol-black); /* 호버 시 글자색 변경 */
    font-weight: bold;
}
/*.email_ok{
color:#008000;
display: none;
}*/
.email_already{
	color:crimson; 
	display: none;
	margin-top: 1em;
}
.nickName_ok{
	color:#008000;
	display: none;
}
.nickName_already{
	color:crimson; 
	display: none;
}
.myReferralCode_ok{
	color:#008000;
	display: none;	
}

/*내 정보*/
.myInfo{
    /* border: 1px solid red; */
    margin: 0 0 0 10em ;
}
.myInfo>:nth-child(1){
    /* border: 1px solid orange; */
}
.myInfo>:nth-child(2){
    /* border: 1px solid orange; */
    display: flex;
    margin-top: 1em;
}
.myInfo>:nth-child(2)>:nth-child(1){
    /* border: 1px solid yellow; */
}
.myInfo>:nth-child(2)>:nth-child(1)>:nth-child(1){
    /* border: 1px solid green; */
    border: 3px solid var(--lol-white);
}
.myInfo>:nth-child(2)>:nth-child(1)>:nth-child(2){
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3em;
}
.myInfo>:nth-child(2)>:nth-child(1)>:nth-child(3){
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.myInfo>:nth-child(2)>:nth-child(2){
    /* border: 1px solid yellow; */
    margin-left: 1em;
    width: 23%;
}
.myInfo>.profileMain>div:nth-child(2)>:nth-child(1){
    /*border: 1px solid green;*/ 
    display: flex;
    background-color: var(--khy-bg-gray);
    border-radius: 30px;
    padding: 0.15em 0em;
}
.myInfo>div>div:nth-child(2)>:nth-child(1)>:nth-child(1){
    /* border: 1px solid blue; */
    margin-left: 1em;
}
.myInfo>div>div:nth-child(2)>:nth-child(1)>:nth-child(2){
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}
.myInfo>div>div:nth-child(2)>:nth-child(2){
    /*display: flex;*/
}
.myInfo>div>div:nth-child(2)>:nth-child(2)>:nth-child(1){
    /* border: 1px solid green; */
    margin-top: 1em;
    width: 90%;
}
.myInfo>div>div:nth-child(2)>:nth-child(2)>:nth-child(2){
    /* border: 1px solid green; */
    margin-top: 0.3em;
    width: 90%;
}
.myInfo>div>div:nth-child(2)>:nth-child(2)>:nth-child(3){
    /* border: 1px solid green; */
    margin-top: 1.5em;
    margin-left: 0.2em;
    color: var(--lol-mainblue);    
}
.myInfo>div>div:nth-child(2)>:nth-child(3){
    /* border: 1px solid green; */
    display: flex;
    margin-top: 0.5em;
}
.myInfo>div>div:nth-child(2)>:nth-child(3)>:nth-child(1){
    /* border: 1px solid blue; */
	margin-left: 0.2em;
}
.myInfo>div>div:nth-child(2)>:nth-child(3)>:nth-child(2){
    /* border: 1px solid blue; */
    margin-left: 0.4em;
    margin-top: 0.5em;
}


.myInfo>:nth-child(2)>:nth-child(3){
    /* border: 1px solid yellow; */
    margin-left: 6em;
}
/* .myInfo>:nth-child(2)>:nth-child(3)>*{
    border: 1px solid green;
}
.myInfo>:nth-child(2)>:nth-child(3)>*>*{
    border: 1px solid blue;
}
.myInfo>:nth-child(2)>:nth-child(3)>*>*>*{
    border: 1px solid violet;
}
.myInfo>:nth-child(2)>:nth-child(3)>*>*>*>*{
    border: 1px solid white;
} */
.tierBox>.tierImageBox{
    display: flex;
    margin-bottom: 1em;
}
.tierBox>.tierImageBox>div>:nth-child(1){
  	text-align: center;
  	margin-bottom: 0.5em;
}
.tierBox>.tierImageBox>:nth-child(2){
    margin-left: 15em;
}
.tierBox>.tierGazeBox>.tierGazeState{
    display: flex;
}
.tierBox>.tierGazeBox>.tierGazeState>:nth-child(1){
    margin-left: 0.2em;
}
.tierBox>.tierGazeBox>.tierGazeState>:nth-child(2){
    /* border: 10px solid white; */
    margin-left: auto;
    margin-right: 0.2em;
}
.tierBox>.tierGazeBox>.tierGazeWhole{
    border :3px solid var(--khy-off-gray);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
.tierBox>.tierGazeBox>.tuerGazeStatus{
    border :5px solid var(--lol-mainblue);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
.tierBox>.tierGazeBox>.buttonBox2{
    display: flex;
    justify-content: flex-end; 
    margin-top: 1.5em;
}
.tierBox>.tierGazeBox>.buttonBox2>:nth-child(2){
    margin-left: 1em;
}
.tierBox>.tierGazeBox>.buttonBox2>:nth-child(3){
    margin-left: 1em;
}
.tierBox>.tierGazeBox>.buttonBox2>:nth-child(4){
    margin-left: 1em;
}
/*프로필 이미지 변경*/
.line2{
    display: flex;
    justify-content: start;
    align-items: stretch;
}
.previewBox3{
    margin-left: 1em;
    margin-right: 1em;
}
.previewBox3>p{
    margin-bottom: 1em;
}
.previewBox4>p{
    margin-bottom: 1em;
}
.previewBox4>img:hover{
    transform: scale(1.1);
}
.previewBox4>img{
    transition: all 0.05s linear;
}
/*칭호 변경*/
.currentTitle-row {
    background-color: var(--lol-mainblue); /* 배경색 설정 */
}
.choiceTitle-row{
    background-color: DodgerBlue; /* 배경색 설정 */
}
/*[id^="row-"] {*/
.notCurrentTitle-row{
    cursor: pointer;
}
.mypageButton{
    color: var(--lol-white); 
    background-color: var(--lol-black); 
    border:solid 0.5px #EEEEEE; 
    border:0 0 0 0;  
    border-radius: 5px; 
    padding: 0.2em 0.3em 0.2em 0.3em; 
    margin: 0.5em 0em 0.5em 0em; 
    cursor: pointer;
}
.mypageButton:hover {
    background-color: var(--lol-white); /* 호버 시 배경색 변경 */
    color: var(--lol-black); /* 호버 시 글자색 변경 */
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}
/* LCK 응원팀 */
.myInfo>.abbrTeam{
    margin-top: 1.5em;
    margin-right: 11em;
}
.myInfo>.abbrTeam>:nth-child(2){
    margin-top: 1.5em;
    margin-left: 0.5em;
    margin-bottom: 1.5em;
}
/* .abbrCheckBoxRows2{
    display: block;
} */
.abbrCheckBoxRow2{
    display: flex;
    text-align:center;
    margin: 0 0 0.5em 4em ;
}
.abbrCheckBox2{
    margin: 0.1em 0em 0em 2em;
}
.abbrCheckBox2>.buttonBox3{
    display: flex;
    justify-content: flex-end; 
}
.abbrCheckBox2>.buttonBox3>:nth-child(1){
    margin-right: 0.3em;
    margin-bottom: 1em;
}

/* 내 활동 목록 */
.myInfo>.historyBox{
    margin-top: 2em;
    margin-right: 11em;
}
.myInfo > .historyBox > :nth-child(1) {
	margin-top : 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
.historyBox>.buttonList{
    display: flex;
}
.historyBox>.myPointHistory{
/*    display: none;*/
}
.historyBox>.myCommunityHistory{
    display: none;
}
.historyBox>.myQuaHistory{
    display: none;
}
.historyBox>.buttonList>p:nth-child(2){
    margin-left: 2em;
}
.historyBox>.buttonList>p{
    margin-left: 2em;
}
.historyBox>.buttonList>:nth-child(4){
    margin-top: 2em;
}
/* 문의하기 테이블 */
.qnaTable {
    width: 100%;
    border-top: 3px solid var(--lol-white);
    border-collapse: collapse;
}

.qnaTable th, td {
    border-bottom: 1px solid var(--lol-white);
    padding: 16px 0px;
    text-align: center;
}

.tableTitle {
    text-align: left;
    padding-left: 30px;
    width: 640px;
}

.qnaBtn{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--lol-black);
    border: 1px solid var(--lol-white);
    color: var(--lol-white);
}

.comBtn{
    background-color: var(--lol-white);
    color: var(--lol-black);
}

.tableContainer{
    min-height: 350px;
}

/* 모달 배경 */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* 모달 */
.modal {
    background-color: var(--khy-off-gray); 
    color: var(--lol-white);  
    width: 35%;
    max-height:100vh; /* 최대 높이 설정 */
    overflow-y: auto; /* 내용이 모달을 벗어나면 스크롤 표시 */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
    scroll-behavior: inherit; /* 스크롤 애니메이션 적용 */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.close {
    cursor: pointer;
}

.modal-body {
    padding: 10px 0;
}

.modal-footer {
    text-align: right;
    padding-top: 10px;
}

/* 모달 내의 스크롤바 스타일 */
.modal::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 조정 */
}

.modal::-webkit-scrollbar-thumb {
    background-color: darkgray; /* 스크롤바 색상 */
    border-radius: 5px; /* 스크롤바 모서리 둥글게 */
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* 마우스 오버 시 색상 */
}

.modal::-webkit-scrollbar-track {
    background-color: black; /* 스크롤바 트랙 배경색 */
}
/* 비밀번호 변경 모달 */
.modal-body > input{
	color: var(--lol-white); 
	background-color: var(--khy-bg-gray);  
	border:none;  
	border-radius: 5px; 
	padding: 0.7em 2em 0.7em 2em; 
	margin: 0.5em 1em 0.5em 1em;
}